body {
    margin: 0;

    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;

    overflow: hidden;
}

.crew-layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr;

    height: 91vh;
}

.crew-layout-container h5 {
    grid-column: 1;

    position: relative;
    left: 10vw;
    
    color: white;
    font-size: 24px;
}

.crew-layout-container span {
    margin-right: 20px;

    color: rgb(255, 255, 255, 0.4);
    font-weight: bold;
}

.crew-description {
    grid-column: 1;
    
    width: 50%;
    padding-left: 10vw;
}

.crew-description h4 {
    margin: 10vh 0 0 0;

    color: rgb(255, 255, 255, 0.4);
}

.crew-description h3 {
    margin: 1vh 0 0 0;
}

.crew-description p {
    margin: 2vh 0 0 0;

    width: 400px;

    line-height: 30px;
}

.nav-heading {
    display: flex;

    position: absolute;
    bottom: 15vh;
}

.nav-dot {
    width: 15px;
    height: 15px;
   
    margin-right: 20px;

    background-color: rgb(255, 255, 255, 0.4);

    border-radius: 100%;
}

.nav-dot:hover {
    cursor: pointer;

    background-color: rgb(255, 255, 255, 0.7);
}

#active-heading {
    cursor: pointer;

    background-color: rgb(255, 255, 255) 
}

.crew-preview {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    grid-column: 2;
}

.crew-preview hr {
    display: none;
}
