
body {
    margin: 0;

    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;

    overflow: hidden;
}

.destination-layout-container {
    display: flex;
}

/*-----Style Destination Preview-----*/

.destination-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 89vh; /* -11vh from navbar */
}

.destination-preview-container h5 {
    position: relative;
    left: -150px;
    top: -35vh;

    color: white;
    font-size: 24px;
}

.destination-preview-container span {
    margin-right: 20px;

    color: rgb(255, 255, 255, 0.4);
    font-weight: bold;
}

.destination-preview-container img {
    position: absolute;
    top: 35vh;
    right: 59vw;
}

/*-----Style Destination Description-----*/

.destination-description-container {
    width: 40%;
    height: 89vh; /* -11vh from navbar */
}

.nav-heading {
    display: flex;

    margin-top: 22vh;
}

.nav-heading p {
    height: 30px;
    margin: 0 30px 0 0;

    color:rgb(208, 214, 249);

    z-index: 1;
}

.detailed-description h2 {
    margin: 4vh 0 0 0;

    position: relative;
    z-index: 1;
}

.detailed-description  p {
    width: 60%;
    line-height: 30px;

    position: relative;
    z-index: 1;
}

.detailed-description hr {
    width: 60%;
    margin: 5vh 0 0 0;

    color: rgb(208, 214, 249, 0.2);

    position: relative;
    z-index: 1;
}

.travel-info {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 60%;
    margin: 3vh 0 0 0;
}

.travel-info p {
    margin: 0;

    z-index: 1;
}

.travel-info .subheading-2 {
    color:rgb(208, 214, 249);
}

/*-----Style Different States-----*/

.nav-heading p:hover {
    cursor: pointer;

    border-bottom: solid 2px rgb(255, 255, 255, 0.5);
}

#active-heading {
    color: white;
    border-bottom: solid 2px white;
}