
body {
    margin: 0;

    height: 97vh;

    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
}

h5 {
    margin: 0;

    font-size: 27px;
}

h1{
    margin: 20px 0 0 0;
}

p {
    margin: 10px 0 0 0;

    width: 450px;

    line-height: 30px;
}

button {
    align-self: flex-end;
    justify-self: center;

    width: 250px;
    height: 250px;

    border-radius: 100%;
    border: none;

    font-size: 30px;
    font-family: serif;
    letter-spacing: 2px;

    background-color: rgb(255, 255, 255);
}

button:hover  {
    outline: 50px solid rgb(255, 255, 255, 0.2);
    border: none;

    cursor: pointer;
}

button:active {
    background-color: rgb(200, 200, 200);
}

.home-layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin-top: 35vh;
    margin-bottom: 10vh;
    padding-left: 100px;
}